    {% extends "main/base.html" %}

    {% block title %}
    Publicaciones
    {% endblock title %}
    
    {% block content_title %}
     Lista de Publicaciones
    {% endblock content_title %}

    {% block content %}
        <a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-3">Crear Publicación</a>
        <form action="{% url 'blog:post_list' %}" method="get">
                <input type="text" name="busqueda" placeholder="Buscar ..." type="submit" class="form-control mb-3">
        </form>   
        <ul class="list-group">
            {% for post in posts %}
            <a href="#" class="list-group-item mb-3 shadow-sm rounded">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="mb-1">{{ post.titulo }}</h5>
                    <small class="text-muted">Publicado el {{ post.fecha_publicacion }}</small>
                    </div>
                    <p class="mb-2">{{ post.contenido }}</p>
                </a>
            {% endfor %}        
        </ul>
    {% endblock content %}